Source: directory-thumbnailer
Maintainer: Livanh <livanh@bulletmail.org>
Section: gnome
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: directory-thumbnailer
Architecture: all
Depends: imagemagick, librsvg2-bin
Priority: optional
Section: gnome
Description: Thumbnailer for directories
 This program generates thumbnails for directories, using pre-defined file names (e.g. folder.{png,jpg}, poster.{png,jpg}).
